.login{
  text-align : center;
  padding-top : 50px;
  
  border-radius: 8px;
}
.register{
  text-align : center;
  padding-top : 50px;
  
  border-radius: 8px;
}
.inputBox{
  border: 1px solid #060606;
}
input:placeholder-shown {
   font-style: italic;
}

.user{
  text-align : center;
  padding-top : 50px;
  
  border-radius: 8px;
}

.flashcard{
  padding-left:5px;
  padding-right:5px;
}

.deleteButton{
  padding-left: 20px;
}

