.login{
  text-align : center;
  padding-top : 50px;
  
  border-radius: 8px;
}
.register{
  text-align : center;
  padding-top : 50px;
  
  border-radius: 8px;
}
.inputBox{
  border: 1px solid #060606;
  padding-left:5px;
}
input:placeholder-shown {
   font-style: italic;
}

.user{
  text-align : center;
  padding-top : 50px;
  
  border-radius: 8px;
}

.flashcard{
  width:100px;
  padding-left:5px;
  padding-right:5px;
}

.deleteButton{
  background-color:red;
  padding-inline: 6px;
  color:white;
  margin-left:30px;
}

.flipButton{
  margin-left:30px;
}

.buttonContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.mainHeader{
  text-align:center;
  font-size:26px;
  margin-top:20px;
}
.practice{
  text-align:center;
  margin-top:20px;
}
.practiceFlashcard{
  font-size:40px;
}

